@import 'tailwindcss';

@import '@link-sharing-app/design-system/styles.css';
@import '@link-sharing-app/ui/styles.css';
@import './theme.css';

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@layer utilities {
  .system-preset-1 {
    font-size: var(--text-preset-1);
    line-height: var(--text-preset-1--line-height);
    letter-spacing: var(--text-preset-1--letter-spacing);
    font-weight: var(--text-preset-1--font-weight);
  }

  .system-preset-2 {
    font-size: var(--text-preset-2);
    line-height: var(--text-preset-2--line-height);
    letter-spacing: var(--text-preset-2--letter-spacing);
    font-weight: var(--text-preset-2--font-weight);
  }

  .system-preset-3-bold {
    font-size: var(--text-preset-3-bold);
    line-height: var(--text-preset-3-bold--line-height);
    letter-spacing: var(--text-preset-3-bold--letter-spacing);
    font-weight: var(--text-preset-3-bold--font-weight);
  }

  .system-preset-3-semibold {
    font-size: var(--text-preset-3-semibold);
    line-height: var(--text-preset-3-semibold--line-height);
    letter-spacing: var(--text-preset-3-semibold--letter-spacing);
    font-weight: var(--text-preset-3-semibold--font-weight);
  }

  .system-preset-3-regular {
    font-size: var(--text-preset-3-regular);
    line-height: var(--text-preset-3-regular--line-height);
    letter-spacing: var(--text-preset-3-regular--letter-spacing);
    font-weight: var(--text-preset-3-regular--font-weight);
  }

  .system-preset-4 {
    font-size: var(--text-preset-4);
    line-height: var(--text-preset-4--line-height);
    letter-spacing: var(--text-preset-4--letter-spacing);
    font-weight: var(--text-preset-4--font-weight);
  }
}
